body {
    background: #f0d9ff;
    font-family: "Georgia", serif;
}

div.side-by-side {
    display: flex;
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color: white;
    font-size: smaller;
}

div.flex { display:flex;

}

ul.resume {
    list-style-type: circle;
    border-style: solid;
    border-color: white;
    border-width: 2px;

}


.colorful {
    background-color: yellow;
    color: red;
}

.education-item {
  display: flex;
  justify-content: space-between; /* puts them on opposite sides */
  align-items: center; /* vertically centers them */
  margin-bottom: 8px; /* optional spacing between items */
}

.education-item h3,
.education-item .dates {
  margin: 0; /* remove default browser spacing */
}

h3 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.resume-page h3 {
  border-bottom: 1px solid #000; /* thickness + color */
  padding-bottom: 4px; /* space between text and line */
  margin-bottom: 10px; /* space below the line */
}

.divider {
  border-bottom: 1px solid #000;  /* line thickness + color */
  padding-bottom: 4px;            /* space between text and line */
  margin-bottom: 40px;            /* space below the line */
}

.resume-button {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 10px;
  padding: 10px 18px;
  background-color: #fffdf7;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-family: "Georgia", serif;
  transition: background-color 0.3s;
}

.resume-button:hover {
  background-color: #edeae1;
}