body {

    /*background:papayaWhip*/
    background: #f0d9ff;
    font-family: "Georgia", serif;
}

div.side-by-side {
    display: flex;
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color: white;
    font-size: smaller;
}